@charset "UTF-8";
/*Header*/
.footer, .preFooterSection, .header {
  display: flex;
  height: 70px;
  background-color: rgb(21, 29, 18);
  justify-content: space-around;
  align-items: center;
}

/*Main*/
.yandexMap, .catalog, .searchSection, .positionChooseType {
  width: calc(100% - 100px);
  margin: 0 auto;
}

.carsList:hover, .chooseNewAdvertisement:hover, .chooseOldCars:hover, .chooseExclusiveСars:hover, .chooseMotorcycles:hover, .chooseCars:hover {
  box-shadow: 0px 0px 18px rgb(149, 235, 254);
  transform: scale(1.02);
  cursor: pointer;
}

#contactUsForm textarea, #contactUsForm input {
  border: 1px solid rgb(21, 29, 18);
  border-radius: 0px;
}

#contactUsForm .nameEmailSection, .reviews .reviewWidget .customer, .reviews, .positionChooseType, .greetingForm {
  display: flex;
  justify-content: center;
}

/*Footer*/
body {
  margin: 0;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  margin-top: 50px;
  font-family: "Ubuntu", serif;
  font-size: 26px;
  color: rgba(21, 29, 18, 0.8);
  text-align: center;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerImage {
  height: 40px;
  width: 40px;
}

.headerTitle {
  display: inline-block;
  min-width: 200px;
  margin: 0;
  font-family: "Ubuntu", serif;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.headerLinks {
  font-family: "Ubuntu", serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin-right: 25px;
}
.headerLinks:hover {
  cursor: pointer;
  color: white;
}

.headerPhone {
  display: block;
  text-decoration: none;
  margin: 5px 0px;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  color: white;
}

.greetingForm {
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  min-width: 600px;
}
.greetingForm .greetingTitle {
  font-family: "Ubuntu", serif;
  font-size: 40px;
  color: rgb(21, 29, 18);
  font-weight: 500;
}
.greetingForm .greetingDescription {
  max-width: 700px;
  text-align: center;
  font-family: "Ubuntu", serif;
  font-size: 18px;
  color: rgb(21, 29, 18);
}

.line {
  width: 250px;
  border-bottom: 2px solid rgb(21, 29, 18);
}

.blueForGrid {
  background-color: rgb(86, 189, 213);
}

.chooseType {
  display: grid;
  grid-template-rows: 170px 170px;
  grid-template-columns: 220px 220px 220px 220px 220px;
  grid-gap: 10px;
}

.positionChooseType {
  margin-top: 100px;
  padding: 120px 0px;
  background: url(../images/backgroundGrid.png) no-repeat;
  background-size: cover;
  border-radius: 15px 90px;
}

.chooseCars {
  margin: 0;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.carImage {
  text-align: center;
}

.chooseMotorcycles {
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.chooseExclusiveСars {
  border-radius: 5px;
}
.chooseOldCars {
  border-radius: 5px;
}
.chooseNewAdvertisement {
  border-radius: 5px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
}
.searchSection {
  background-color: rgb(217, 217, 217);
  margin-top: 150px;
  border: 3px solid rgba(21, 29, 18, 0.4);
  border-radius: 2px 20px;
}

.selectSearch {
  display: inline-block;
  padding-left: 10px;
}
.selectSearch select {
  padding: 8px 12px 9px 12px;
  border: none;
}

.singleSelect {
  position: relative;
  width: 15%;
}
.singleSelect select {
  width: 100%;
  font-family: "Ubuntu", serif;
  font-size: 15px;
  color: rgb(21, 29, 18);
}

.doubleSelect {
  margin: 0;
}
.doubleSelect p {
  border: 1px solid white;
  font-family: "Ubuntu", serif;
  font-size: 15px;
  color: rgb(21, 29, 18);
  padding: 0px 8px;
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255);
}

.btnSearch {
  background-color: rgb(21, 29, 18);
  border: 1px solid rgb(21, 29, 18);
  border-bottom-right-radius: 15px;
  padding: 6px 10px 9px 10px;
  width: 9%;
  font-family: "Ubuntu", serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.btnSearch:hover {
  cursor: pointer;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.carsList {
  min-height: 300px;
  min-width: 160px;
  margin: 15px 0px;
  width: 20%;
  font-family: "Ubuntu", serif;
  font-size: 15px;
  color: rgba(21, 29, 18, 0.8);
}
.carsList:hover {
  box-shadow: 0px 0px 18px #e2e2e2;
}
.carsList .productName p span::after {
  content: ",";
}
.carsList .productName p span:last-child::after {
  content: "";
}

.carsList a {
  text-decoration: none;
}
.carsList a:visited {
  color: black;
}

.productImage {
  height: 175px;
}
.productImage img {
  width: 100%;
  display: block;
}

.productName strong {
  padding: 3px 10px;
  min-height: 54px;
  margin-bottom: 8px;
  display: block;
}
.productName p {
  padding: 10px 10px;
  border-bottom: 1px solid #e2e2e2;
}
.productName span {
  font-size: 14px;
}

.price {
  padding: 3px 10px;
  font-family: "Ubuntu", serif;
  font-size: 18px;
  color: green;
  font-weight: 700;
}

.priceInEuro {
  margin-left: 18px;
  color: black;
  font-weight: 400;
}

iframe {
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.reviews {
  font-family: "Ubuntu", serif;
  font-size: 18px;
  color: rgb(21, 29, 18);
  flex-wrap: wrap;
  justify-content: space-around;
}
.reviews .reviewWidget {
  width: 450px;
}
.reviews .reviewWidget p {
  text-align: center;
}
.reviews .reviewWidget .customer {
  justify-content: space-around;
  align-items: center;
}
.reviews .reviewWidget img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.reviews .reviewWidget span {
  margin: 0px 10px;
  display: inline-block;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  color: rgb(21, 29, 18);
}

.animationTitle {
  width: 120px;
  margin: 0 auto;
}
.animationTitle h4 {
  padding-right: 1px;
  margin-top: 100px;
  font-family: "Ubuntu", serif;
  font-size: 26px;
  color: rgba(21, 29, 18, 0.8);
  border-right: 2px solid black;
  text-align: center;
  animation: cursorForAnimation 1s infinite step-end;
  animation: cursorForAnimation 1s infinite step-end, typing 8s infinite steps(9);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursorForAnimation {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  30% {
    width: 9ch;
  }
  80% {
    width: 9ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}

#contactUsForm {
  border: 1px solid rgb(21, 29, 18);
  width: 400px;
  margin: 0 auto;
}
#contactUsForm input {
  padding: 19px;
  width: 160px;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 12px;
  color: rgb(21, 29, 18);
}
#contactUsForm textarea {
  margin: 0;
  padding: 18px;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 12px;
  color: rgb(21, 29, 18);
  width: 362px;
  height: 120px;
  resize: none;
}
#contactUsForm .btnSubmit {
  width: 100%;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 12px;
  color: rgb(21, 29, 18);
  font-weight: 700;
  cursor: pointer;
}

.size {
  height: 158px;
}

.preFooterSection {
  margin-top: 100px;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  color: white;
  min-height: 230px;
}
.preFooterSection .footerWidget {
  max-width: 160px;
}
.preFooterSection img {
  height: 18px;
  width: 18px;
}

.footer {
  position: relative;
  bottom: 0px;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.middleSection {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
